body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e6eaf0;
  height: 50px;
  background-size:cover;

}


.form-div{
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

form .form-control{
  border-radius: 0px;
}
form label{
  color: steelblue;
  text-decoration: inherit;
  text-shadow: 1px 1px auto;
}
